@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.background {
  background: rgb(0, 0, 0, 0.7) url("../img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}
.navbar {
  width: 90%;
  margin: 0 auto;
}
.nav-item {
  padding: 10px 10px;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}
.content-heading1 {
  color: #696592;
  font-weight: 400;
  font-size: 22px;
  font-style: italic;
}
.content-text {
  text-align: justify;
}
.sticky {
  position: sticky;
  top: 0;
  background: #37517e;
  z-index: 1;
}
.navbar img {
  height: 6vh;
  /* filter: invert(70%); */
}
.bg-color {
  background: #37517e;
}
/* .hero {
  height: 65vh;
} */

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: #37517e;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 35px;
  font-weight: 700;
}
#hero .btn-get-quote {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}
#hero .btn-get-quote:hover {
  background: #209dd8;
}
#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 110vh;
    text-align: center;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
  #hero .btn-watch-video {
    font-size: 16px;
    padding: 10px 0 8px 40px;
    margin-left: 20px;
  }
  #hero .btn-watch-video i {
    font-size: 32px;
    top: 7px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

/* About Us Section
--------------------------------*/
#about {
  padding: 0 0 50px 0;
}

#about .about-content {
  padding-top: 40px;
}

#about .about-content h2 {
  color: #413e66;
  font-weight: 700;
}
#about .about-img {
  position: relative;
  margin: 30px 30px 30px 30px;
}

#about .about-img img {
  width: 100%;
  border: 8px solid #fff;
  transition: 0.5s;
}

#about .about-img img:hover {
  width: 100%;
  transform: scale(1.03);
}

#about .about-img::before {
  position: absolute;
  left: -31px;
  top: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: "";
  background-color: #ebf1fa;
  transition: 0.5s;
}

#about .about-img::after {
  position: absolute;
  right: -31px;
  bottom: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: "";
  background-color: #ebf1fa;
  transition: 0.5s;
}

.call-to-action {
  background-color: #37517e;
  color: white;
}
.btn-call {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #47b2e4;
}
.btn-call:hover {
  background: #209dd8;
}
.call-to-action{
  background-image: linear-gradient(to left, #37517e, #47b2e4);
}
.call-to-action h3 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

footer {
  background-color: #37517e;
}
footer p {
  margin-bottom: 0;
  font-size: 12px;
}

/* Animation CSS3 */
#run {
  width: 100%;
  height: 100px;
  position: relative;
}
#run img {
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  animation: run 6s linear infinite;
}
@keyframes run {
  0% {
    left: 0;
  }
  100% {
    left: 90%;
  }
}

.text-effect:hover {
  transform: rotate(360deg);
  transition: transform 1s;
}

#eye img{
  width: 5%;
  height: auto;
  transition-property: all; 
  transition-duration: 2s;
}
#eye img:hover{
  transform: scale(1.5, 1.5);
}
